extends layout

block content
    .content 
        .add-nav 
            ul.add-list 
                li
                    a(href="/orders").styled-link-button Orders 
                li
                    a(href="/products").styled-link-button Products 
                li
                    a(href="/inventory").styled-link-button Inventory
