extends layout

block content
    .content 
        .add-nav 
            ul.add-list 
                li.add-link 
                    a(href="/orders") Orders 
                li.add-link 
                    a(href="/products") Products 
                li.add-link 
                    a(href="/inventory") Inventory
