extends layout

block content
  .content
    .hero
      h1 WELCOME TO NC-TRACK
      .sub-hero
        p You can track collections, view non-conformance status, and update product records from here
        a(href="/collections") Get started 
