extends layout

block content
  .content
    .hero
      h1 BIAMP INVENTORY MANAGEMENT
      .sub-hero
        p You can track orders, view or add products and more from here
        a(href="/start") Get started 
