extends layout

block content
  .content
    .hero
      h1 Welcome to NC-Track
      p You can track collections, view non-conformance status, and update product records from here
      a(href="/add") Get started 
