doctype html
html
  head
    title Biamp Order Tracker
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet")
  body 
    .root 
      nav.nav-bar 
        ul.nav-list 
          li.nav-item 
            a(href="/") Home 
          li.nav-item 
            a(href="/products") Products 
          li.nav-item 
            a(href="/inventory") Inventory 
      block content

      footer
        .foot-bar
          ul.foot-list
            a(href="")
              li.foot-item About Us
            a(href="")
              li.foot-item Contact
            a(href="")
              li.foot-item Terms of Service
            a(href="")
              li.foot-item Privacy Policy
            a(target="_blank" href="https://bgjar.com") 
              li.foot-item SVG Background by BGJar
