extends layout

block content
    .content
        if (orders.length > 0)
            section.order-list 
                each order in orders 
                    .order-item
                        a(href=order.url) #{order.name} 
                        p Due: #{order.endDateFormatted}
        else 
            h1 No orders yet.

        a.link-button(href="/orders/create") Create an Order
