extends layout

block content
    .content
        if (orders.length > 0)
            each item in orders 
                p= item.name
        else 
            h1 No orders yet.

        a(href="/orders/create") Create an Order
