extends layout

block content
    .content 
        h1 This action will delete the associated order 
        | Are you sure you wish to continue?

        form(method="POST").del-form
            button Delete order