$p1: #fffff0;
$p2: #242424;

@mixin sm {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}
a {
  text-decoration: none;
  color: $p1;
}
li {
  list-style: none;
}
input {
  text-align: right;
}
.styled-button {
  cursor: pointer;
  margin-block: 20px;
  background-color: #333;
  font-size: 24px;
  color: $p1;
  border-style: none;
  max-width: fit-content;
  padding: 20px;
  transition: 250ms;
  border-bottom: 5px solid transparent;
  &:hover {
    border-bottom: 5px solid #c24c07;
  }
}
.styled-link-button {
  margin-block: 20px;
  display: block;
  font-size: 32px;
  padding: 16px;
  background-color: #333;
  color: $p1;
  text-decoration: none;
  transition: 250ms;
  border-bottom: 5px solid transparent;
  &:hover {
    border-bottom: 5px solid #c24c07;
  }
}
body {
  padding: 0px;
  margin: 0px;
  background-color: $p2;
  color: #fff;
  font: 18px "Noto Sans", sans-serif;
  line-height: 1.4;
}
.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-bar {
  padding: 0px;
  background-color: #333;
  font-size: 24px;
  .nav-list {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 24px;
    justify-content: center;
    list-style: none;
    a {
      text-decoration: none;
      color: #fff;
    }
    .nav-item {
      padding-top: 12px;
      padding-inline: 12px;
      text-align: center;
      background-color: #333333;
      list-style: none;
      transition: 250ms;
      border-bottom: 5px solid transparent;
      &:hover {
        border-bottom: 5px solid #c24c07;
      }
      &:active {
        border-bottom: 5px solid #c24c07;
      }
    }
  }
}
.foot-bar {
  background-color: #333;
  padding: 14px;
  font-size: 14px;
  display: flex;
  gap: 50px;
  justify-content: center;
  .foot-list {
    padding: 0px;
    margin: 0px;
    gap: 4px;
    display: flex;
    justify-content: center;
    list-style: none;
    a {
      text-decoration: none;
      color: #fff;
    }
    .foot-item {
      padding-top: 12px;
      padding-inline: 12px;
      background-color: #333333;
    }
  }
}
.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='762' preserveAspectRatio='none' viewBox='0 0 1920 762'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1239%26quot%3b)' fill='none'%3e%3crect width='1920' height='762' x='0' y='0' fill='rgba(9%2c 22%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M25 762L787 0L995.5 0L233.5 762z' fill='url(%26quot%3b%23SvgjsLinearGradient1240%26quot%3b)'%3e%3c/path%3e%3cpath d='M504.40000000000003 762L1266.4 0L1681.9 0L919.9000000000001 762z' fill='url(%26quot%3b%23SvgjsLinearGradient1240%26quot%3b)'%3e%3c/path%3e%3cpath d='M896.8000000000001 762L1658.8000000000002 0L1780.3000000000002 0L1018.3000000000001 762z' fill='url(%26quot%3b%23SvgjsLinearGradient1240%26quot%3b)'%3e%3c/path%3e%3cpath d='M1891 762L1129 0L809.5 0L1571.5 762z' fill='url(%26quot%3b%23SvgjsLinearGradient1241%26quot%3b)'%3e%3c/path%3e%3cpath d='M1480.6 762L718.5999999999999 0L492.0999999999999 0L1254.1 762z' fill='url(%26quot%3b%23SvgjsLinearGradient1241%26quot%3b)'%3e%3c/path%3e%3cpath d='M1060.1999999999998 762L298.1999999999998 0L67.19999999999982 0L829.1999999999998 762z' fill='url(%26quot%3b%23SvgjsLinearGradient1241%26quot%3b)'%3e%3c/path%3e%3cpath d='M1359.9564636159403 762L1920 201.95646361594038L1920 762z' fill='url(%26quot%3b%23SvgjsLinearGradient1240%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 762L560.0435363840596 762L 0 201.95646361594038z' fill='url(%26quot%3b%23SvgjsLinearGradient1241%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1239'%3e%3crect width='1920' height='762' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1240'%3e%3cstop stop-color='rgba(185%2c 15%2c 15%2c 0.57)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(185%2c 15%2c 15%2c 0.57)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1241'%3e%3cstop stop-color='rgba(185%2c 15%2c 15%2c 0.57)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(185%2c 15%2c 15%2c 0.57)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  h1 {
    text-align: center;
  }
  .link-button {
    margin-top: 18px;
    display: block;
    font-size: 32px;
    padding: 16px;
    background-color: #333;
    color: $p1;
    text-decoration: none;
    transition: 250ms;
    border-bottom: 5px solid transparent;
    &:hover {
      border-bottom: 5px solid #c24c07;
    }
  }
  .order-list {
    background-color: $p2;
    color: $p1;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 18px;
    gap: 8px;
    a {
      text-decoration: none;
      color: $p1;
      transition: 250ms;
      &:hover {
        text-decoration-line: underline;
      }
    }
    .order-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
    }
  }
  .product-page {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    margin-inline: 10%;
    padding: 24px;
    gap: 12px;
    overflow-y: auto;
    a {
      text-decoration: none;
      color: $p2;
      margin-block: 12px;
    }
    .product-card {
      background-color: $p1;
      color: $p2;
      min-height: 100%;
      padding: 8px;
      .product-name {
        font-size: 18px;
      }
      .product-desc {
        font-size: 16px;
        max-width: 60ch;
      }
    }
  }
  .detail-card {
    background-color: $p2;
    color: $p1;
    max-width: 70ch;
    padding: 12px;
    .control {
      display: flex;
      justify-content: space-evenly;
      font-size: 24px;
      gap: 24px;
      list-style: none;
      a {
        cursor: pointer;
        margin-top: 18px;
        background-color: #333;
        font-size: 24px;
        color: $p1;
        border-style: none;
        text-decoration: none;
        max-width: fit-content;
        padding: 20px;
        transition: 250ms;
        border-bottom: 5px solid transparent;
        &:hover {
          border-bottom: 5px solid #c24c07;
        }
      }
    }
    form {
      padding: 0px;
      button {
        cursor: pointer;
        margin-top: 18px;
        background-color: #333;
        font-size: 24px;
        color: $p1;
        border-style: none;
        max-width: fit-content;
        padding: 20px;
        transition: 250ms;
        border-bottom: 5px solid transparent;
        &:hover {
          border-bottom: 5px solid #c24c07;
        }
      }
    }
  }
  .inventory-list {
    display: flex;
    flex-direction: column;
    min-width: 75%;
    .inventory-line {
      background-color: #333;
      display: flex;
      justify-content: space-between;
      padding: 8px;
      align-items: center;
      gap: 8px;
    }
  }
  .hero {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 70px;
      min-height: 15vh;
      grid-row: 1/2;
      grid-column: 1/3;
    }
    .sub-hero {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      p {
        max-width: 60ch;
      }
      a {
        display: block;
        font-size: 24px;
        padding: 16px;
        border-radius: 8px;
        background-color: #fff;
        color: #111;
        text-decoration: none;
        transition: 250ms;
        &:hover {
          background-color: #345aa0;
          color: #fff;
        }
      }
    }
  }
  .add-nav {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    gap: 8px;
    @include lg {
    }
    .add-card {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      background-color: #333;
      color: $p1;
      padding: 12px;
      max-width: 30ch;
      gap: 20px;
      h2 {
        padding: 0px;
        margin: 0px;
      }
    }
    .add-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      .add-link {
        list-style: none;
        a {
          display: block;
          font-size: 32px;
          padding: 16px;
          border-radius: 8px;
          background-color: #fff;
          color: #111;
          text-decoration: none;
          transition: 250ms;
          &:hover {
            background-color: #345aa0;
            color: #fff;
          }
        }
      }
    }
  }
  .add-form {
    font-size: 18px;
    padding: 30px;
    background-color: $p2;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    align-items: center;
    gap: 20px;
    .form-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px;
      input {
        background-color: $p2;
        border-style: none;
        border-bottom: 4px solid $p1;
        color: $p1;
        padding: 10px;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
        margin: 0px;
        margin-right: 5px !important;
      }
      textarea {
        resize: none;
        background-color: $p2;
        border-style: none;
        border-bottom: 4px solid $p1;
        color: $p1;
        padding: 10px;
      }
    }
    button {
      cursor: pointer;
      margin-top: 18px;
      background-color: #333;
      font-size: 24px;
      color: $p1;
      border-style: none;
      max-width: fit-content;
      padding: 20px;
      transition: 250ms;
      border-bottom: 5px solid transparent;
      &:hover {
        border-bottom: 5px solid #c24c07;
      }
    }
  }
  .del-form {
    button {
      cursor: pointer;
      margin-top: 18px;
      background-color: #333;
      font-size: 24px;
      color: $p1;
      border-style: none;
      max-width: fit-content;
      padding: 20px;
      transition: 250ms;
      border-bottom: 5px solid transparent;
      &:hover {
        border-bottom: 5px solid #c24c07;
      }
    }
  }
}
